<div class="card mb-3">
  <h3 class="card-header"><%= user.name %></h3>
  <div class="d-flex justify-content-center align-items-center m-2">
    <%= attachment_image_tag user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg", size: "200x200", class: "item_img", style: "border-radius: 50%;"%>
  </div>
  <div class="d-flex justify-content-center align-items-center m-1">
    <div class="btn-group">
      <% unless current_page?(profile_user_path(user)) %>
        <%= link_to "プロフィールを確認", profile_user_path(user), class: "btn btn-md btn-outline-secondary", style: "text-decoration: none;"  %>
      <% end %>
      <% if user.id == current_user.id %>
        <%= link_to "プロフィールを編集", edit_user_path(user), class: "btn btn-md btn-outline-secondary", style: "text-decoration: none;" %>
      <% end %>
    </div>
  </div>
</div>