<div class="container">
  <div class="row">
    <div class="col-md-10 m-auto">
      <h3 class="card-header" style="background-color: white;">誓約書</h3>​
      <div class="m-auto w-75">
        <iframe src="https://fares-s3.s3.amazonaws.com/contract.pdf"
                width="100%" height="1000px"></iframe>
      </div>
    </div>
  </div>
</div>
